@font-face {
  font-family: "Text";
  src: url("../assets/fonts/Supreme-Variable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titre";
  src: url("../assets/fonts/ClashDisplay-Variable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --BgCouleur: #363636;
  --TextCouleur: #e9e9e9;
  --TertiaireCouleur: #212222;
  --AccentCouleur: #09bcf5;
  accent-color: var(--AccentCouleur);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Text";
}

body {
  background: linear-gradient(to bottom, var(--BgCouleur), var(--TertiaireCouleur));
  color: var(--TextCouleur);
  font-family: "Text";
  background-attachment: fixed; /* optionnel : fixe le dégradé sur la fenêtre */
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Titre";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  font-family: "Titre";
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.DownloadLinks a {
  padding: 6px 10px 6px 10px;
  border-radius: 25px;
  transition: all 0.3s ease-in;
}

.DownloadLinks a:hover {
  background-color: var(--AccentCouleur);
  color: var(--TextCouleur);
}

header {
  border-bottom: 3px solid var(--TertiaireCouleur);
  color: var(--AccentCouleur);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0rem 3rem;
  height: 100px;
  button {
    font-family: "Text", sans-serif;
    color: var(--AccentCouleur);
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 6px 10px 6px 10px;
    border-radius: 25px;
    transition: all 0.3s ease-in;
    a {
      font-family: "Text", sans-serif;
      color: var(--AccentCouleur);
      text-decoration: none;
    }
  }

  button:hover {
    background-color: var(--AccentCouleur);
    color: var(--TextCouleur);

    svg {
      color: var(--TextCouleur);
    }
  }

  .ButtonContact {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .DownloadLinks {
    display: flex;
    gap: 10px;
    a {
      text-decoration: none;
      color: var(--AccentCouleur);
    }
  }
}

footer {
  color: var(--AccentCouleur);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  button {
    font-family: "Text", sans-serif;
    color: var(--AccentCouleur);
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 6px 10px 6px 10px;
    border-radius: 25px;
    transition: all 0.3s ease-in;
    a {
      font-family: "Text", sans-serif;
      color: var(--AccentCouleur);
      text-decoration: none;
    }
  }
  button:hover {
    background-color: var(--AccentCouleur);
    color: var(--TextCouleur);

    svg {
      color: var(--TextCouleur);
    }
  }
  .ButtonContact {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

/* 1er Arrow (Présentation) */
footer button:nth-of-type(1) .ButtonContact svg {
  transform: rotate(180deg);
}

/* 2e Arrow (Projet) */
footer button:nth-of-type(2) .ButtonContact svg {
  transform: rotate(0deg);
}

main {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  flex: 1;
  img {
    filter: drop-shadow(5px 10px 25px #00000074);
    height: 60%;
    transition: all 0.8s ease-in-out;
    width: auto;
    position: absolute;
    left: 50%;
    bottom: 0; /* collée en bas */
    transform: translateX(-50%); /* centrage horizontal */
    z-index: 2;
  }
}

main div:nth-child(2) {
  margin-top: 25%;
}
main div:nth-child(4) {
  margin-top: 10%;
}

.containeur {
  box-shadow: 5px 10px 15px var(--AccentCouleur);
  padding: 3rem;
  width: 300px;
  border-radius: 25px;
  background-color: var(--TertiaireCouleur);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 30%;
  color: var(--TextCouleur);
  transition: all 0.5 ease-in-out;
  h2 {
    color: var(--AccentCouleur);
  }
}

.containeur1--animated {
  animation: SlideLeft 1.5s ease 1;
}

.containeur2--animated {
  animation: SlideRight 1.5s ease 1;
}

.containeur2--animated-out {
  animation: SlideRightOut 0.9s ease 1;
  animation-fill-mode: forwards;
}

.containeur1--animated-out {
  animation: SlideLeftOut 0.9s ease 1;
  animation-fill-mode: forwards;
}

.Contact--animated .Link:nth-child(1),
.Contact--animated .Link:nth-child(2),
.Contact--animated .Link:nth-child(3),
.Contact--animated .Link:nth-child(4) {
  animation-name: SlideTop;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  opacity: 0;
  animation-fill-mode: forwards;
}

.Contact--animated-out .Link:nth-child(1),
.Contact--animated-out .Link:nth-child(2),
.Contact--animated-out .Link:nth-child(3),
.Contact--animated-out .Link:nth-child(4) {
  animation-name: SlideTopOut;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  opacity: 1;
  animation-fill-mode: forwards;
}

.Contact--animated .Link:nth-child(1) {
  animation-delay: 0.3s;
}
.Contact--animated .Link:nth-child(2) {
  animation-delay: 0.6s;
}
.Contact--animated .Link:nth-child(3) {
  animation-delay: 0.9s;
}
.Contact--animated .Link:nth-child(4) {
  animation-delay: 1.2s;
}

.Contact--animated-out .Link:nth-child(1) {
  animation-delay: 0.3s;
}
.Contact--animated-out .Link:nth-child(2) {
  animation-delay: 0.2s;
}
.Contact--animated-out .Link:nth-child(3) {
  animation-delay: 0.1s;
}
.Contact--animated-out .Link:nth-child(4) {
  animation-delay: 0s;
}

.img--animated-out {
  animation: imgOut 1s ease;
  animation-fill-mode: forwards;
}

.Animation-int {
  animation: SlideLeft 1s ease 1;
}

.Animation-out {
  animation: SlideLeftOut 1s ease 1;
  animation-fill-mode: forwards;
}

.animated-presentation1 {
  animation: SlideLeft 1s ease 1;
}

.animated-presentation2 {
  animation: SlideRight 1s ease 1;
}

.animated-presentation1-out {
  animation: SlideLeftOut 1s ease 1;
  animation-fill-mode: forwards;
}

.animated-presentation2-out {
  animation: SlideRightOut 1s ease 1;
  animation-fill-mode: forwards;
}

@keyframes imgOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 30%;
  }
}

@keyframes SlideRight {
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes SlideRightOut {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(10%);
    opacity: 0;
  }
}

@keyframes SlideLeft {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes SlideLeftOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-10%);
    opacity: 0;
  }
}

@keyframes SlideTop {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes SlideTopOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-10%);
    opacity: 0;
  }
}

.Contacts {
  display: none;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  width: 100%;
}

.Links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 25px;
  a {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: var(--TextCouleur);
  }
  .Link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--AccentCouleur);
    border: 1px var(--AccentCouleur) solid;
    border-radius: 26px;
    transition: background-color 0.2s ease;
    width: 30%;
    box-shadow: 5px 10px 15px #00000074;
    &:hover {
      background-color: transparent;
      color: var(--AccentCouleur);

      svg {
        fill: var(--AccentCouleur);
        margin-left: 0;
      }
    }
    svg {
      width: 26px;
      height: 26px;
      margin: 15px;
      fill: var(--AccentCouleur);
      transition: all 0.4s ease;
      cursor: pointer;
      margin-left: -40px;
      margin-right: 15px;
    }
  }
}
.fade-enter-active {
  transition: all 1s ease;
}
.fade-enter-from {
  opacity: 0;
  transform: translateY(-20px);
}
.fade-enter-to {
  opacity: 1;
  transform: translateY(0);
}

.ButtonContactPhone {
  display: none;
}

main section {
  display: none;
}

.color {
  display: none;
}

.details__projet {
  font-size: 14px;
  color: #ffea00;
  margin-top: 10px;
}

@media (max-width: 800px) {
  .color {
    display: flex;
  }

  header {
    position: relative;
  }

  main {
    padding: 0rem;
    justify-content: center;
    text-align: center;
  }

  .presentation {
    padding: 3%;
    box-shadow: none;
    border: 1px solid var(--AccentCouleur);
  }

  main .containeur,
  header .DownloadLinks a {
    display: none;
  }
  footer button,
  header button {
    display: none;
  }

  main img {
    height: 60%;
  }

  main .PhoneButton {
    background-color: var(--AccentCouleur);
    color: var(--TextCouleur);
    padding: 6px 10px 6px 10px;
    border-radius: 25px;
    text-decoration: none;
    border: none;
  }

  main section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ButtonContactPhone {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 13px;
    button {
      display: flex;
      width: 100%;
      background-color: var(--AccentCouleur);
      color: var(--TextCouleur);
      box-shadow: none;
      border: none;
      padding: 6px 10px 6px 10px;
      border-radius: 25px;
      margin: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      .ButtonContact {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
      }
    }
  }

  main div:nth-child(2) {
    margin-top: 0%;
  }
  .range {
    height: 50%;
    gap: 5%;
  }
  .Links .Link {
    width: 80%;
    background-color: transparent;
    color: var(--AccentCouleur);
    svg {
      fill: var(--AccentCouleur);
      margin-left: 0;
    }
  }
  .range .RangButton:first-child > button:nth-child(1) svg,
  .range .RangButton:first-child > button:nth-child(2) svg {
    transform: rotate(180deg);
  }

  .RangButton {
    gap: 30px;
    width: 100%;
    button {
      width: 100%;
      background-color: var(--AccentCouleur);
      color: var(--TextCouleur);
      box-shadow: none;
      border: none;
      padding: 12px 18px 12px 18px;
      border-radius: 25px;
      margin: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      .ButtonContact {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
      }
      svg {
        color: var(--TextCouleur);
      }
    }
  }
  main {
    position: relative;
    min-height: 100vh;
  }
  button .ButtonContact svg {
    display: none;
  }
  .range {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .main .PartTree,
  .main .PartTree .FirtsPart,
  .main .PartTree .LastPart {
    display: none !important;
  }
  .frameworklist {
    flex-direction: column;
  }
  .color {
    position: absolute;
    bottom: 70%;
  }
}
